@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Luckiest+Guy&family=Open+Sans:wght@300;500&family=Pacifico&display=swap');




// Variables
$color: #fff;
$fontFamily: Roboto;
$primary-fs: 48px;
$secondary-fs: 21px;
$cool-blue: #38CFD9;
$another-cool-color: #136C72;
$lucky-guy: 'Luckiest Guy', cursive;
$open-guy: 'Open Sans', sans-serif;
$deep-cool: #23424A;
$section_header_ls: 3px;
$justOkay_br: 5pt;
$justOkay_bs: 3px 3px 7px rgb(0 0 0 / .2),
-3px -3px 7px rgb(0 0 0 / .2);
$circles: 50%;
$genTrans: 500ms;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    &::after, &::before {
        box-sizing: border-box;
        margin: 0;
    }
}

body {
    overflow-x: hidden;
    position: relative;
}

header.intro {
    font-family: $fontFamily;
    color: $color;
    background-color: $deep-cool;
    width: 100%;

    .intro_content {
        width: 80%;
        text-align: left;
        padding: 8em 0em 8em 5.5em ;
        // position: absolute;
        // top: 0;
        // z-index: 100;


        h1.head_text {
            font-size: $primary-fs;
            width: inherit;
            max-width: 750px;
            font-weight: 900;
            margin: 0;
        }

        p.hero_text  {
            font-size: $secondary-fs;
            font-weight: 200;
            margin: 1.5em 0 3em;
            font-size: $secondary-fs;
            width: 90%;
            max-width: 800px;
            line-height: 30px;
            letter-spacing: 2px;
        
        }

        button[type="submit"] {
            padding: 0.7em 1.9em;
            text-align: center;
            // width: 40%;
            cursor: pointer;
            text-transform: uppercase;
            color: $another-cool-color;
            border: 0;
            border-radius: 40px;
            font-size: $secondary-fs;
            background-color: $cool-blue;
            font-weight: bold;
            transition: 500ms;

            &:hover {
                transform: translateY(-5px);
                box-shadow: 2px 2px 7px rgb(0 0 0 / .2);
            }
        }
    }
 
    // For the nav
    nav#main_nav {
        // position: relative;
        position: fixed;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 2em 5em;
        transition: 500ms;
        z-index: 777;
        .logo {
            // width: 30%;
            font-size: 1.2rem;
            cursor: pointer;
            font-family: $lucky-guy;
            

            h1 {
                // text-align: center;
                letter-spacing: 1.5rem;
                position: relative;
                top: 0.2em;
                background-attachment: fixed;
                vertical-align: middle;
            }

            .slogan {
                text-align: left;
                font-weight: 400;
                font-size: calc(1rem - 1pt);
                position: absolute;
                transform: translateY(-100%);
                opacity: 0;
                transition: 500ms;
                font-family: $open-guy;
                
                @keyframes slideIn {
                    from {
                    opacity: 0;
                    transform: translateY(-100%);
                    }
    
                    to {
                    opacity: 1;
                    transform: translateY(0%);
                    }
                }
            }

            &:hover .slogan {
                animation: slideIn 350ms ease-in both;
            }
           
        }

        ul {
            margin: 0;
            padding: 0;
            display: flex;
            width: 90%;
            transition: all 500ms;
            align-items: center;
            gap: 3em;
            justify-content: center;

            li {
                list-style: none;
                position: relative;

                &::after {
                    content: '';
                    width: 0%;
                    display: block;
                    margin-top: 5px;
                    background-color: $color;
                    height: 3px;
                    margin: auto;
                    transition: 500ms;
                    border-radius: 20px;                                     
                }


               &:hover::after {
                        width: 100%;
                    }

                

                a {
                    color: $color;
                    font-weight: 500;
                    text-decoration: none;
                    letter-spacing: 0.2em;
                }
            }

              li:nth-of-type(1) {
                    margin-left: auto;
                }

              li:nth-of-type(5) {
                    border: 2px solid $color;
                    padding: 0.5em 1.5em;
                    margin-left: auto;
                    border-radius: 40px;
                    transition: .4s;

                    &:hover {
                        // background-color: $color;
                        color: $cool-blue;
                    }
                }
        }

        // When active class is added to ul by JS
        ul.active {
            transform: translateX(0%);
        }

        //    The burger goes here
        .burger {
            display: block;
            cursor: pointer;
            display: none;

            div {
                width: 30px;
                height: 5px;
                margin: 5px;
                background-color: $color;
                border-radius: 20px;
                transition: 500ms;

            }
        }

        .burger.close {
            .line1 {
                transform: rotate(-45deg) translate(-7px, 7px);
            }

            .line2 {
                opacity: 0;
            }

            .line3 {
                transform: rotate(45deg) translate(-7px, -7px);
            }
            
        }

        // First media query
        @media screen and (max-width: 1069px) {
           .burger {
            width: 10%;
           }
            nav#main_nav {
                  justify-content: space-between;
            }

             .logo {
                width: 90%;
            }

            ul {
                position: absolute;
                width: 50%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                top: 100%;
                background-color: $cool-blue;
                right: 0;
                min-height: 90vh;
                transform: translateX(100%);
                box-shadow:  3px 0px 10px rgb(0 0 0 / .1);

                 li:nth-of-type(1) {
                    margin-top: auto;
                    margin-right: auto;
                }

              li:nth-of-type(5) {
                    border: 2px solid $color;
                    padding: 0.5em 1.5em;
                    margin-top: auto;
                    margin-right: auto;
                    border-radius: 40px;
                    transition: .4s;

                    &:hover {
                        // background-color: $color;
                        color: $cool-blue;
                    }
                }

                li:nth-of-type(6) {
                    margin-bottom: auto;
                }
        }

        .burger {
            display: block;
        }
    }
           }

           nav.active {
            background-color: $cool-blue;
             box-shadow: 3px 3px 7px rgb(0 0 0 / .2);

           }

        

}

// main stuff only
main#theDeal  {
    background-color: $another-cool-color;
    height: auto;
    font-family: $lucky-guy;
    color: $color;
    width: 100%;

    h1.main_header {
        text-align: center;
        padding: 1.5em 0 0;
        letter-spacing: $section_header_ls;

        &::after {
            content: '';
            width: 20%;
            display: block;
            margin-top: 5px;
            height: 6.5px;
            border-radius: 30px;
            margin: auto;
            background-color: $color;

             /* Reference
                         content: "";
                        width: 0%;
                        height: 2px;
                        background: var(--color-primary);
                        display: block;
                        margin: auto;
                        transition: 0.5s;
                        margin-top: 5px;
                    */
        }
    }

    section.lil_talk {
        display: flow-root;
        width: 80%;
        margin: 20px auto;
        padding: 0 0 4em 0;
        background-color: $deep-cool;
        border-radius: $justOkay_br;
        box-shadow: $justOkay_bs;
        padding: 3em 2em;

        h2.history  {
            text-align: left;
            padding: 1em 0;
            letter-spacing: 3px;
        }
        p.some_text {
            font-family: $open-guy;
            text-align: left;
        }

        img {
            float: left;
            shape-outside: polygon(50%);
            shape-margin: 2rem;
            margin-right: 1rem;
        }
    }

    // Coursessection
    section.courses {
        width: 80%;
        margin: 3em auto 0;
        

        h2.course_heading {
            text-align: center;
            letter-spacing: $section_header_ls;
        }

        .courses_cards {
            width: 100%;
            background-color: $cool-blue;
            margin: 2em auto;
            min-height: 50vh;
            border-radius: $justOkay_br;
            box-shadow: $justOkay_bs;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 1em;
            flex-wrap: wrap;
            padding: 3em;

            // All general cards
               // For the card
                .card {
                    width: 300px;
                    height: auto;
                    padding: 0 0 3em;
                    background-color: #fff;
                    box-shadow: 0 3px 10px rgb(0 0 0 /.15);
                    border-radius: $justOkay_br;
                    position: relative;
                    margin-bottom: 1em;
                                  
                  
                  div:not(.img_container) {
                    position: relative;
                    height: 100px;
                    width: 100px;
                  /*   background-color: red; */
                    overflow: hidden;
                    top: -10px;
                    left: -10px;
                    z-index: 100;
                    display: flex;
                    justify-content: center;
                    align-items: center;                
                      
                                       
                    &::before {
                    content: '30% OFF';
                    position: absolute;
                    width: 150%;
                    height: 40px;
                    background-color: $another-cool-color;
                    transform: rotate(-45deg) translateY(-20px);
                    display: flex;
                    justify-content:center;
                    align-items: center;
                    color: #fff;
                    box-shadow: 0 5px 10px rgb(0 0 0 /.1);
                    font-weight: 900;
                  }
                  
                  &::after {
                    content: '';
                    position: absolute;
                    height: 10px;
                    width: 10px;
                    background-color: $deep-cool;
                     box-shadow: 90px -90px $deep-cool; /* 100 - 10 - 90 => box-shadow*/
                    bottom: 0;
                    left: 0;
                    z-index: -1;
                  }
                  }
                  
                  

               
                
                figure {
                    display: flex;
                    justify-content: center;
                    flex-direction: column;
                    color: black;
                    align-items: center;
                    width: 100%;

                    .img_container {
                        margin: 0;
                        display: inherit;
                        justify-content: inherit;
                        align-items: center;
                        width: 150px;
                        height: 150px;
                        border-radius: $circles !important;
                    }

                    figcaption {
                        width: inherit;
                        text-align: center;
                        h2 {
                            letter-spacing: $section_header_ls;
                        }

                        .price {
                            font-size: 2rem;
                            padding: 0.2em 0 0.5em;

                            sup {
                                font-size: 1rem;
                            }
                        }

                        a[role="button"] {
                            color: $another-cool-color;
                            font-family: $open-guy;
                            text-decoration: none;
                            border: 2px solid currentColor;
                            padding: 0.5em;
                            width: 100%;
                            border-radius: $justOkay_br;
                            transition: border-radius $genTrans;
                            
                            &:hover {
                                border-radius: 0;
                                background-color: $another-cool-color;
                                color: $color;
                            }
                        }
                    }
                }
            }
        }

    }
}